@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Yuji+Syuku&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: "Poppins" ;
    @apply text-primary-500;
}

@layer utilities {

.myclip{

    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);

    }

}

